<div class="container">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<div class="row placeholders" ng-controller="HomeController" style="margin-top: 5%;">
            <div class="col-xs-6 col-sm-3 placeholder">
             <img src="images/Dashboards.png"  style="width:100px;height:100px;" ng-click="addTab('#/admin','Admin')">
              <h4>Admin</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="images/DeepDives.png"  style="width:100px;height:100px;" ng-click="addTab('#/user','User')">
              <h4>User</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
            <img src="images/Configurations.png"  style="width:100px;height:100px;" ng-click="addTab('#/sensor','Sensors Management')">
              <h4>Sensor Management</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
            <img src="images/Configurations.png"  style="width:100px;height:100px;" ng-click="addTab('#/hubmanagement','Hub Management')">
              <h4>Hub Management</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
            <img src="images/Patches.Updates.png"  style="width:100px;height:100px;" ng-click="addTab('#/billing','Billing')">
              <h4>Billing</h4>
            </div>
           
  </div>
</div>
