<div ng-controller="AdminController">
<div class="container">
<h2>Admin Profile</h2>
  <table class="table table-striped">
        <thead>
            <th>Email Address</th>
            <th>First Name</th>
            <th>Last Name></th>
            <th>Phone No</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="profile in adminuserprofile" ng-include="getTemplate(profile)">
            </tr>
        </tbody>
    
    
    <script type="text/ng-template" id="display">
        <td>{{profile.emailaddress}}</td>
        <td>{{profile.firstname}}</td>
         <td>{{profile.lastname}}</td>
          <td>{{profile.phone}}</td>
        <td>
            <button class="btn btn-primary" ng-click="editContact(profile)">Edit</button>
        </td>
    </script>
    <script type="text/ng-template" id="edit">
        <td><input type="text" ng-model="rowSelected.selected.emailaddress" /></td>
        <td><input type="text" ng-model="rowSelected.selected.firstname" /></td>
          <td><input type="text" ng-model="rowSelected.selected.lastname" /></td>
            <td><input type="text" ng-model="rowSelected.selected.phone" /></td>
        <td>
            <button class="btn btn-success" ng-click="saveContact($index)">Save</button>
            <button class="btn btn-danger" ng-click="reset()">Cancel</button>
        </td>
    </script>
    
    </table>
    

</div>