<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <!--  <script src="angularjs/login.js"></script> -->
    
    
    <style>
body {
    background: images/water-quality4.jpg
    background-size: 80px 60px;
    background-repeat: no-repeat;
    padding-top: 80px;
    background: rgba(0,0,0,0.5);
   
}

    </style>
</head>
<body ng-app="app" ng-controller="login" style="background-image: url(images/water-quality4.jpg); background-size: 100% auto">
<div class="container">

<div class="col-sm-6 col-sm-offset-3" id="login" style="margin-left: 52%;">

    <h1 style="font-family: fantasy; margin-left: inherit;"> Water Quality</h1>
      <h1 style="font-size: 25px;font-family: fantasy; margin-left: 350px;">Sign in</h1>
    <!-- LOGIN FORM -->
    <form action="/login" method="post">
    
     <img class="pull-left" >
     <div align="right">
        <div class="form-group,clearfix">
            <label>Username</label>&nbsp;
            <input type="text" class="form-control,clearfix" name="username">
        </div>
        &nbsp;
        <div class="form-group,clearfix">
            <label>Password</label>&nbsp;
            <input type="password" class="form-control,clearfix" name="password">
        </div>
        
        <hr>
        <div class="form-inline">
        <label class="radio">
         	<input type="radio" name="userSelection" value="User" checked> User<br>
         </label>
         <label class="radio">
  			<input type="radio" name="userSelection" value="Admin"> Admin<br>
  		</label>
        </div>
        <br>
        <div>
        <input id="persist_box" type="checkbox" name="persistent" value="1" checked="1" class="uiInputLabelInput uiInputLabelCheckbox"/>
        <label for="persist_box" class="uiInputLabelLabel">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
     </div>
        
    </form>
</div>

</div>
</body>
</html>