
<div ng-controller="location">


    <h1>Leaflet Cluster </h1>

    <div id="map" style="width: 800px; height: 500px; border: 1px solid #AAA;"></div>

     <!-- <script type='text/javascript' src='/js/scorecard.js'></script>  -->

</div>

 
